*{
  margin: 0px;
  padding: 0px;
}

.content {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  background-color: thistle;
}

.principal {
  text-align: center;
  background-color: #2B1E2F;
  color: white;
  padding: 40px;
  border: 2px solid #3C2B2B;
  border-radius: 10px;
}

h2 {
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-flow: column;
  align-items: center;
}

input {
  margin: 10px ;
  padding: 10px;
  border-radius: 7px;
  text-align: center;
}

#cria {
  font-weight: bold;
  padding: 5px;
  width:80px ;
}

p {
  margin-top: 10px;
}
p a {
  font-weight: bold;
  color: whitesmoke;
}